/*===================================================
			Colors

Buttons and Icons - #00ff42, #1A936F, #0b882b

Background - #e1dada

===================================================*/


/*==================================================
			Core CSS
==================================================*/

* {
	box-sizing: border-box;
}

html {
	background-color: #e1dada;
}

body {
	width: 1350px;
	font-family: 'Lato', monospace, serif, sans-serif;
	line-height: 2.5em;
	letter-spacing: 0.2em;
	position: relative;
}

h2 {
	font-size: 28px;
	font-weight: 900;
	color: #0b882b;
}

a {
	color: #0b882b;

}

a:hover {
	color: #00ff42;
	text-decoration: none;
}

#main-footer {
	background-color: #47ff11;
	text-align: center;
	line-height: 1.5em !important;
	font-size: 14px;
	font-weight: 900;
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0; 
}

/*==================================================
			Navigation bar
==================================================*/

#admin_nav {
	background-color: #ffffff;
	font-weight: 900;
}

#admin_menu li {
	display: inline;
}

#admin_menu li:active {background-color: #e1dada;}

#logout_btn {float: right;}

.left {margin-left: 13px;}

#right {padding-right: 10px;}



/*==================================================
			Home CSS
==================================================*/

#home {
	height: 100%;
	background: url(../img/admin_bg.png);
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}

#home-content {
	padding-top: 500px;
	color: #fff;
}

#home-content-icon {
	padding-top: 20px;
}


/*==================================================
			Login-area CSS
==================================================*/

#login-access {
	background: #e1dada;
	margin: auto;
	text-align: center;
	padding: 50px 30px;
}

#login-form i{
	color: #0b882b;
}

.form-element {
	padding: 30px 10px;
	display: block;
}

.form-element label i {
	padding-right: 40px;
}

.form-element input {
	border: 3px solid #0b882b;
	padding: 10px 20px;
	border-radius: 3px;
	background: transparent;
	width: 30%;
}

.form-element input:focus {outline: none;}

#login-btn {
	padding-top: 10px;
	margin-left: auto;
}

#login-btn button {
	font-size: 19px;
	border-color: #0b882b;
	width: 20%;
	margin-left: 210px;
}

#login-btn button:focus {outline: none;}

/*==================================================
			Content 
==================================================*/

#content {
	background-color: #e1dada;
	height: 100%;
	overflow: hidden;
	padding-bottom: 60px;
}

.container {padding-top: 2%;}

/*==================================================
			Dashboard
==================================================*/

#welcome_text {
	text-align: center;
	padding: 20% 0 0 0;
	font-weight: 400;
}

.btn {border-color: #0b882b;}

#register_info {
	text-align: center;
	color: #00ff42;
}

/*==================================================
			Verification page (verify.php)
==================================================*/
.login_info {
	border: 1px solid #00ff42;
	border-radius: 5px;
}
