/*===================================================
			Colors

Buttons and Icons - #00ff42, #1A936F, #0b882b

Background - #e1dada

===================================================*/


/*==================================================
			Core CSS
==================================================*/

* {
	box-sizing: border-box;
}

html {
	background-color: #e1dada;
}

body {
	width: 1350px;
	font-family: 'Lato', monospace, serif, sans-serif;
	line-height: 2.5em;
	letter-spacing: 0.2em;
	position: relative;
}

h2 {
	font-size: 28px;
	font-weight: 900;
}

a {
	color: #00ff42;
}

a:hover {
	color: #0b882b;
}


/*==================================================
			Home CSS
==================================================*/

#home {
	background: url(../img/vote.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#admin_home {
	height: 100%;
	background: url(../img/admin_bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#home-content {
	padding-top: 500px;
	color: #fff;
}

#home-content-icon {
	padding-top: 20px;
}


/*==================================================
			Login-area CSS
==================================================*/

#login-access {
	margin: auto;
	text-align: center;
	padding: 50px 30px;
}

#login-form i{
	color: #0b882b;
}

.form-element {
	padding: 30px 10px;
	display: block;
}

.form-element label i {
	padding-right: 40px;
}

.form-element input {
	border: 3px solid #0b882b;
	padding: 10px 20px;
	border-radius: 3px;
	background: transparent;
	width: 30%;
}

.form-element input:focus {outline: none;}

#login-btn {
	padding-top: 10px;
	margin-left: auto;
}

#login-btn button {
	font-size: 19px;
	border-color: #0b882b;
	width: 20%;
	margin-left: 210px;
}

#login-btn button:focus {outline: none;}

#main-footer {
	text-align: center;
	line-height: 1.5em !important;
	font-size: 14px;
	font-weight: 900;
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0; 
}

/*==================================================
			Dashboard
==================================================*/

#welcome_text {
	text-align: center;
	padding: 20% 0 0 0;
	font-weight: 400;
}

.thumbnail {
	background-color: #e1dada !important;
}

/*==================================================
			Help page
==================================================*/
.help-form {
	margin: 100px 20px 0 0;
}

.help-text {
	border-bottom: 1px solid #0b882b !important;
}

/*==================================================
			Cast vote
==================================================*/

table, th {
	border-bottom: 1px solid #0b882b !important;
}

.info-text {
	text-align: center;
	font-size: 12px;
}
